<h1>Welcome to bitly</h1>
<!-- <p>See Me in views/static/index.html.erb</p> -->
<form action="/urls" method="post">
    Enter URL:
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
 </form>

<% @urls.each do |url| %>
<p>
  <%= url.short_url  %>
</p>
<% end %>
